<nav class="bottom-navigation">
  <a href="#start" class="nav-item" [class.active]="currentItem === 0">
    <span class="material-symbols-outlined">home</span>
    <span>Start</span>
  </a>
  <a href="#market" class="nav-item" [class.active]="currentItem === 1">
    <span class="material-symbols-outlined">storefront</span>
    <span>Markt</span>
  </a>
  <a href="#communication" class="nav-item" [class.active]="currentItem === 2">
    <span class="material-symbols-outlined">chat</span>
    <span>Funk</span>
  </a>
  <a href="#rooms" class="nav-item" [class.active]="currentItem === 3">
    <span class="material-symbols-outlined">calendar_month</span>
    <span>Räume</span>
  </a>
  <a href="#profile" class="nav-item" [class.active]="currentItem === 4">
    <span class="material-symbols-outlined">account_circle</span>
    <span>Profil</span>
  </a>
</nav>
