<div class="info-box">
  @if (buildingLeft != '') {
    <div class="info-box-icon">
      <span class="material-symbols-outlined">apartment</span>
      <p>{{buildingLeft}}</p>
    </div>
  }
  <div class="info-box-left">
    <p class="info-box-title">{{ title }}</p>
    @if (textBottom != '') {
      <p class="info-box-text">{{ textBottom }}</p>
    }
  </div>
  <p class="info-box-right">{{ textRight }}</p>
  @if (hasFavorite) {
    <button class="info-box-favorite" (click)="toggleFavorite()">
      @if (favorite) {
        <span class="material-symbols-outlined filled">star</span>
      } @else {
        <span class="material-symbols-outlined">star</span>
      }
    </button>
  }
</div>

