.icon-button {
  width: 1.5rem;
  height: 1.5rem;
  color: #6b7280; /* Graue Farbe für die Icons */
  border-radius: 9999px; /* Vollständig abgerundet */
  background-color: #ffffff; /* Weißer Hintergrund */
  padding: 0.25rem; /* Innenabstand */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); /* Dezenter Schatten */
  font-size: 1.5rem; /* Material Symbols Icons Größe anpassen */
  display: flex;
  align-items: center;
  justify-content: center;
}
